* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    align-self: center;
}

body {
    background-color: #3B4151;
    text-align: center;
    color: floralwhite;
    padding: 1rem 0 1rem 0;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    padding: 1rem 0 2rem 0;
}

h2 {
    padding: 1rem 0 0 0;
    font-size: 1.82em;
}

h4 {
    font-size: 2rem;
}

.short_description {
    font-size: 1.5rem;
}

.logline {
    padding:  1rem 0 0.5rem 0;
    font-size: 1.8rem;
    font-family: 'Merriweather', serif;
}

.feat {
    padding-top: 6rem;
    letter-spacing: 0.15em;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    background-color: floralwhite;
    justify-content: space-around;
    font-size: 2.6rem;
}

nav a:visited {
    color: rgb(47, 102, 107);
    text-decoration: none;
  }

nav a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

section {
    padding-top: 2rem;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: 2rem 3rem;
  }


img {
    width: 80%;
    align-self: center;
    padding:  1rem;
}

.profile {
    width: 35%;
    border-radius: 50%;
}

.email {
    width: 45%;
    height: auto;
    border-radius: 5%;
}

.container {
    padding-bottom: 5rem;
}

.ig {
    width: 45px;
    height: 45px;
}


a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
a:visited {
    color: rgb(98, 223, 235);
    text-decoration: none;
  }

a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
a:active {
    color: blue;
    text-decoration: none;
  }

  /* Desktop */

@media only screen and (min-width: 1200px) {



    .logline {
        font-size: 20px;
    }

    .profile {
        width: 12%;
    }

    .container {
        display: flex;
        justify-content: center;
        padding:4rem 0 3rem;
    }

    .containerV {
        display: flex;
        justify-content: center;
        padding:4rem 0 3rem;
        flex-direction: column;
    }

    .photop {
        width: 43%;
    }

    .solid {
        display: none;
    }

    nav {
        font-size: 1.5rem;
    }

    .short_description {
        font-size: 18px;
    }

    .feat {
        letter-spacing: 0;
        padding: 5rem 0 0 0;
    }

    .email {
        width: 300px;
    }

    article {
        width: 50%;
    }

    h2 {
        font-size: 19px;
    }

    #show {
        display: initial;
    }

  }