* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    align-self: center;
}

body {
    background-color: #3B4151;
    text-align: center;
    color: floralwhite;
    padding: 1rem 0 1rem 0;
}

h1 {
    font-size: 4rem;
    padding: 1rem 0 1rem 0;
}

h2 {
    padding: 1rem 0 0 0;
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

.feat {
    padding: 1.5rem 0 0 0;
}

.logline {
    padding:  3rem 0 1rem 0;
    font-size: 1.8rem;
}

nav {
    display: flex;
    background-color: floralwhite;
    justify-content: space-around;
    font-size: 2rem;

}

p {
    font-size: 1.4rem;
}

img {
    width: 80%;
    align-self: center;
    padding:  1rem;
}

.profile {
    width: 50%;
    border-radius: 40%;
}


a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
a:visited {
    color: rgb(37, 86, 90);
    text-decoration: none;
  }

a:hover {
    color: rgb(78, 78, 78);
    text-decoration: none;
  }
  
a:active {
    color: blue;
    text-decoration: none;
  }